<mat-card class="todo-card">
  <mat-card-title>
    <div class="todo-title">
      {{ todo.title }}
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="todo-title">
    {{ todo.description }}
    </div>
    <br />
    <div class="todo-due-date">
      {{ todo.dueDate | date }}
    </div>
  </mat-card-content>
  <mat-card-actions align="end" class="actions">
    <button [disabled]="todo.isCompleted" mat-button color="primary" matTooltip="{{ 'TODOS__PREVIEW_COMPONENT__BUTTON_TOOLTIP_EDIT' | translate }}"  class="action-button" (click)="onEditClick()">
      <mat-icon>assignment</mat-icon>
    </button>
    <button [disabled]="todo.isCompleted" mat-button color="primary" matTooltip="{{ 'TODOS__PREVIEW_COMPONENT__BUTTON_TOOLTIP_COMPLETE' | translate }}" class="action-button" (click)="onCompleteClick()">
      <mat-icon>assignment_turned_in</mat-icon>
    </button>
    <button mat-button color="warn" matTooltip="{{ 'TODOS__PREVIEW_COMPONENT__BUTTON_TOOLTIP_DELETE' | translate }}" class="action-button" (click)="onDeleteClick()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
