<mat-card class="todo-card">
  <mat-card-title (click)="onEditClick()">
    <div class="todo-title">
      {{ todo.title }}
    </div>
  </mat-card-title>
  <mat-card-content (click)="onEditClick()">
    <div class="todo-title">
    {{ todo.description }}
    </div>
    <br />
    <div class="todo-due-date">
      {{ todo.dueDate | date }}
    </div>
  </mat-card-content>
  <mat-card-actions align="end" class="actions">
    <button mat-button color="warn" matTooltip="Elimina" class="action-button" (click)="onDeleteClick()">
      <mat-icon>delete</mat-icon>
    </button>
    <button [disabled]="todo.isCompleted" mat-button color="primary" matTooltip="Completa" class="action-button" (click)="onCompleteClick()">
      <mat-icon>assignment_turned_in</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
