<div class="todos-container">

  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner diameter="48"></mat-spinner>
  </div>

  <div class="error-container" *ngIf="isError">
    <p class="error-text">{{ 'TODOS__PAGE__LOADING_ERROR' | translate }}</p>
    <button mat-raised-button color="warn" (click)="reloadPage()">{{ 'TODOS__PAGE__RETRY' | translate }}</button>
  </div>

  <ng-container *ngIf="todos$ | async as page">
    <div *ngIf="!page.empty; else noResults">

      <div class="todos-grid">
        <app-todo-preview
          *ngFor="let todo of page.content"
          [todo]="todo"
          (edit)="openEditDialog($event)"
          (complete)="openCompleteDialog($event)"
          (delete)="openDeleteDialog($event)"
        >
        </app-todo-preview>
      </div>

      <div class="paginator-container">
        <mat-paginator (page)="handlePageEvent($event)"
                       [length]="page.elementsTotal"
                       [pageSize]="page.pageSize"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       [attr.aria-label]="'CORE__PAGINATOR__ARIA_LABEL' | translate">
        </mat-paginator>
      </div>
    </div>

    <ng-template #noResults>
      <p>{{ 'TODOS__PAGE__NO_RESULTS' | translate }}</p>
    </ng-template>
  </ng-container>

</div>
